<%- include('./common/header', {page_title: "Edit Picture"}) -%>

<%- include('./common/menu') -%>
    
      <div class="contentDiv" id="content">
        <h2 style="text-align:center">Edit Picture data</h2>

        <div class="responsive">
          <div class="gallery">
              <img src="<%= picture.image %>" alt="<%= picture.description %>" width="600" height="400">
            <div class="desc"><%= picture.title %></div>
            <div class="desc"><%= picture.description %></div>
          </div>
          <form method="POST">
            <div class="editPictureForm">
              <label>Title: 
                <input type="text" class="desc" value="<%= picture.title %>" name="title"/>
              </label>
              <label>Description: 
                <input type="text" class="desc" value="<%= picture.description %>" name="description"/>
              </label>
              
              <!--Lehet listtel vagy táblával jobba járok, majd ha lesz backend meg adatok akkor kiderül-->
              <br>
              <p>Image ID: <%= picture._id %></p>
              <br>
              <p>Picture uploaded: <%= picture.uploaded_at %></p>
              <br>
              <p>Data modified at: <%= picture.modified_at %></p>
              <br>
              <!--lehet nem fogom használni, tárolni, majd sémánál és db logikánál eldöntöm-->
              <p>Picture deleted at: xxxx-xx-xx</p>
              <br>
              <p>Created by: <%= picture.created_by %></p>
              <div>
                  <button type="button" onclick="window.location.href='/gallery/edit'">Cancel</button>
                  <!--<input type="submit" href="/gallery" value="Update"/>-->
                  <button type="submit" onclick="window.location.href='/gallery/edit'">Update</button> <!--nem jó-->
              </div>
            </div>
          </form>
        </div>

<%- include('./common/footer') -%>
